/* ------------navbar------------ */

* {
    margin: 0;
    padding: 0;
}

.mt-100 {
    margin-top: 100px;
}

.pr-90 {
    padding-right: 90px;
}

.mw-750 {
    max-width: 750px;
}

.ms-345 {
    margin-left: 345px;
}

.mx-150 {
    margin-left: 9.77vw;
    margin-right: 9.77vw;
}

.px-150 {
    padding-left: 9.77vw;
    padding-right: 9.77vw;
}

.mt-72 {
    margin-top: 72px;
}

.mb-100 {
    margin-bottom: 100px;
}

body {
    font-family: 'Satosi', sans-serif;
}

.bg-color {
    background: #F4F4F4;
}

.nav-font-size {
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.log-btn {
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #DCDCDC;
    background: #FFF;

}

.try-btn {
    border-radius: 8px;
    background: #004050;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: -0.01213rem;
}

.btn-border {
    border-radius: 8px;
}

.access {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ------------navbar-end------------ */

.img img {
    width: 61.55vw;
}

.img-two img {
    width: 48.7vw;
}

/* ------------footer------------ */

.foot-add {
    color: #404040;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.foot-coll h3 {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.foot-coll ul,
.terms ul {
    padding: 0;
    list-style: none;

}

.foot-coll a,
.terms a {
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem;
    /* 242.857% */
    letter-spacing: 0.0125rem;
    text-decoration: none;
}

.language {
    text-align: end;
}

.terms ul {
    gap: 48px;
}

/* ------------footer end------------ */


.heading-one {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.625rem;
    letter-spacing: -0.05556rem;
}

.heading-two {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.667px;
}

.heading-three {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 141.667% */
}

.heading-marketing {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    /* 131.25% */
    letter-spacing: -0.444px;
}

.para {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    /* 141.667% */
    letter-spacing: -0.333px;
}

.line {
    background: #787878;
    height: 0.0625rem;
    flex-shrink: 0;
}

.service {
    color: #787878;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
}

.heading-blog {
    color: #000;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.625rem;
    /* 120.833% */
    letter-spacing: -0.04169rem;
}

.para-blog {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 155.556% */
}

.d-name {
    color: #787878;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.c-name {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


@media only screen and (max-width: 426px) {

    .heading-one {
        color: #000;

        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 46px;
        /* 127.778% */
        letter-spacing: -0.5px;
    }

    .heading-two {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px; /* 131.25% */
        letter-spacing: -0.444px;
    }

    .heading-three {
        color: #000;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; /* 150% */
    }

    .right-plan {
        flex-direction: column;
    }

    .btns {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .img img {
        width: 100%;
    }

    .img-two img {
        width: 100%;
    }

    .para {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.625rem;
    }

    .para-blog {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .terms ul {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .language {
        text-align: start;
    }
}